{% extends "base.html" %} 


{% block title %} Bahati Ridge Home {% endblock %}


{% block body %}
{% load static %}
<div class="grid-container" style="grid-template-columns: auto">
    <div class="grid-item" style="background-color: none;">
        <img src={% static 'images/21.jpg' %} alt="Foliage at Entrance to Bahati Ridge." style="width:80%; background-color:green;">
    </div>
    <div class="grid-item" style="text-align: left; width: 80%; color: white;">
        <h1>Our Heritage</h1>
        <p>The founders of Bahati Ridge found their ideal version of country life when they purchased 182 acres of coffee farm land near Thika town in 1974, which they named Bahati Farm. Over the years, they transformed the property into a horticultural farm, finally producing avocado and other sustainable trees and various commercial crops.

            About 15 years ago, the family decided to reduce the farming operations while still preserving the land in its pristine natural environment. Years of stewardship of the land had resulted in acres of lush green trees and pristine springs. This alluring aspect gave the family a need to share the farms special appeal and they decided to open it up to other families who may desire to indulge in a similar experience.
            
            The logical choice was to develop a new gated community of carefully planned homes that would enable owners to enjoy the unspoiled countryside, surrounded by acres of farmland, streams, and lush greenery. Thus, the idea of Bahati Ridge was born.<p>
        <h1>The Dream</h1>
        <p>Have you ever dreamt of living in a country-inspired urban setting? Living in an elegant home in the countryside with the nostalgic sound of birds chirping in the morning and the warmth of wood burning fireplaces in the evening? Now you can live your dream at Bahati Ridge… “your paradise within grasp!”

            Situated in Thika, a mere 45-minute drive from Nairobi's Central Business District, Bahati Ridge’s 1st Phase presents an exciting selection of townhouses, villas and bungalows that feature beautiful hillside country views, a tranquil rural ambience, and a refreshing escape from city chaos.
            
            Having completed the 1st Phase of 72 homes, the legacy continues with a promise to discerning homeowners, as we continue building on the dream of an expanding integrated gated community with all the benefits of country living. Comprising 85 acres of residential homes with private amenities that include a clubhouse, swimming pool, and wellness centre within a gated community, each residence is a short five-to-ten minutes’ walk to the commercial hub - the Bahati Ridge Mini Mall. The mall is designed to be the hub of community life, and will feature a supermarket, cafes, salons and restaurants providing a convenient meeting place full of diverse options and opportunities.
            
            Live the dream! Become part of Kenya’s Premier Country Gated Community.
            
            Welcome Home to Bahati Ridge… “your paradise within grasp!”</p>
    </div>

</div>




{% endblock %}
